<view class="footer" style="position: fixed; left: -40rpx; top: 1060rpx; width: 1168rpx; height: 120rpx; display: flex; box-sizing: border-box">
    <view class="add" bindtap="onClick" style="position: fixed; left: 481rpx; top: 1004rpx">
      <image class="add-image" src="../../images/footer/add.png"/>
    </view>
		<view class="add" bindtap="onClick2" style="position: fixed; left: 139rpx; top: 1000rpx">
      <image class="add-image" src="../../images/footer/add.png"/>
    </view>
</view>


