/* pages/test/test.wxss */
.navbar {
	width: 100%;
	height: 90rpx;
	/* 文本不换行 */
	white-space: nowrap;
	display: flex;
	box-sizing: border-box;
	border-bottom: 1rpx solid #eee;
	background: #fff;
	align-items: center;
	/* 固定在顶部 */
	position: fixed;
	left: 0rpx;
	top: 0rpx;
}

.nav-item {
	padding-left: 25rpx;
	padding-right: 25rpx;
	height: 100%;
	display: inline-block;
	/* 普通文字大小 */
	font-size: 28rpx;
}

.nav-text {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 4rpx;
	box-sizing: border-box;
}

.tab-on {
	color: #000080;
	/* 选中放大 */
	font-size: 38rpx !important;
	font-weight: 600;
	border-bottom: 4rpx solid #000080 !important;
}

/* 正文部分 */
.container {
	position: fixed;
	width: 100%;
	height: 90%;
	top: 100rpx;
	background-color: #FFF;
}

.nav_left {
	width: 25%;
	height: 100%;
	background: #F2F2F2;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
}